/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Sharp borders */

.form-control, .btn 
{
  border-radius: 0px;
}


/* Container width */

.container {
  width: 90%;
}

/* big check */
.big-check {
  width: 30px;
  height: 30px;
}

/* Login */
.login-container {
  margin: 50px auto;
}

.login-bar {
  height: 5px;
}

.login-body {
  background: url("../images/login/login-img.jpg");
  background-position: 50% 50%;
}

.login-form {
  background-color: white;
  max-width: 95%;
}

/* cards */
.classroom-card .card-header {
  background-image: url("../images/classrooms/default.jpg");
  background-position: 50% 50%;
  height: 100px;
}



.classroom-card {
  padding: 0;
  cursor: pointer;
}

.classroom-card:hover {
  box-shadow: 0px 0px 10px rgb(252, 241, 143);
}

.classroom-details-card {
  padding: 0;
}

.classroom-details-card .card-header {
  background-image: url("../images/classrooms/default.jpg");
  background-size: 100% auto;
  background-position: 50%;
  height: 300px;
  padding: 0px;
}

.classroom-details-card .card-header .classroom-title {
  color: white;
  background-color: rgba(0, 0, 0, .2);
  display: inline-block;
  margin-top: 15px;
  padding: 5px 5px 5px 20px;
  border-radius: 0 5px 5px 0;
}

.people-list {
  min-height: 100px;
}

@media screen and (max-width: 768px) {
  
  .classroom-details-card .card-header {
    background-size: auto 100%;
  }
}

