@model TemploOnline.Models.ViewModels.CategoryListingViewModel
@{
  var title = "Categorias";
  ViewData["Title"] = title;
}

<h1>@title</h1>
<a asp-action="New" class="btn btn-primary"><i class="far fa-file"></i> Novo</a>
<hr>
@if (@Model.Categories.Count() == 0)
{
  <p>Não existem categorias cadastradas, clique em novo</p>
}
else
{
  <table class="table">
    <tbody>
      @foreach (var category in Model.Categories)
      {
        <tr class="row">
          <td class="col-sm-12">
              <a asp-action="Details" asp-route-id="@category.Id" class="btn col-sm-12 text-left">
                @category.Name
              </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}