@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Templo Online</h1>
    <p>"Vocês não sabem que seu corpo é o <span class="font-weight-bold">templo</span> do Espírito Santo, que habita em vocês e lhes foi dado por Deus?"</p>
    <p>1 Corintios 6:19</p>
</div>
