@using TemploOnline.Controllers.IdentityHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Templo Online</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/f6aab74ee7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/images/fav-icon/fav-icon.png" type="image/png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="menu-icon" id="nav-show">
                <div class="menu-icon-bar"></div>
                <div class="menu-icon-bar"></div>
                <div class="menu-icon-bar"></div>
            </div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-church"></i> Templo Online
            </a>
        </nav>
        <nav class="hidden-nav" id="hidden-nav">            
            <div class="sidenav-header">
                <div class="nav-hide-arrow" id="nav-hide">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <p class="sidenav-username">@User.Identity.Name</p>
            </div>
           
            <ul class="navbar-nav flex-grow-1 mt-4">
                @if (User.IsInRole(Roles.Dev))
                {
                    <li>                    
                        <a class="nav-link" asp-controller="Categories" asp-action="Index">
                            <i class="fas fa-sitemap"></i>
                            Categorias
                        </a>
                    </li>
                    <li>                    
                        <a class="nav-link" asp-controller="Roles" asp-action="Index">
                            <i class="fas fa-id-badge"></i>
                            Permissões
                        </a>
                    
                    </li>
                }
                @if (User.IsInRole(Roles.Dev) || User.IsInRole(Roles.Admin))
                {
                    <li>                    
                        <a class="nav-link" asp-controller="People" asp-action="Index">
                            <i class="fas fa-user-friends"></i>
                            Irmãos
                        </a>
                    </li>
                     <li>                   
                        <a class="nav-link" asp-controller="TextBooks" asp-action="Index">
                            <i class="fas fa-book-open"></i>
                            Revistas
                        </a>
                    </li>
                }
               
                <li>                    
                    <a class="nav-link" asp-controller="Classrooms" asp-action="Index">
                        <i class="fas fa-user-graduate"></i>
                        Salas de aula
                    </a>
                </li>
                             
                <li>
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">
                        <i class="fas fa-power-off"></i>
                        Sair
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TemploOnline
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
