@model ErrorViewModel
@{
    var title = "Desculpe!";
    ViewData["Title"] = title;
}

<h1>@title</h1>
<h2>Encontramos um bug.</h2>

<p>"@Model.Message"</p>


<p>Whatsapp para suporte: 85 9 8844-7999</p>
